/* Empty. Add your own CSS if you like */

.bar-energized, .tabs-energized>.tabs , .branding{
	background-color: #DBAF00 !important; 
	border-style: none;

}

.brandingComplete{
	background-color: #69B061 !important; 
	border-style: none;
}

.dashLinkStyle{
	color: #DBAF00 !important;	
}

.brandingRemove{
	background-color: #DD5252 !important; 
	border-style: none;
}

p {
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	padding: 3px 0px 3px 0px;
	font-family: 'Droid Sans', sans-serif;
}
 h3{
 	color: #fff;
 	text-align: center;
 	font-family: 'Droid Sans', sans-serif;
 }

 h4{
 	text-align: right;
 	width: 60px;
 	font-size: 3.5em;
 	float: right;

 }
.activeTask{
	color:#75C46C;
 }

 .expiredTask{
 	color: #ef473a
 }

 .clockDisplay{
	font-size: 4em;
 	font-family: 'Michroma', sans-serif;
 	text-align: center;
 	color: #fff;
/* 	text-shadow: 1px 1px  #fff;*/
 }

 .timeLables li{
 	display: inline;
 	margin-left: 60px;
 	font-size: 1em;
 	text-align: center;
 	color: #fff;
 }
 .expired{
 	color: #ef473a;
 	font-size: 2.5em;
 	text-align: center;
	font-family: 'Michroma', sans-serif;
 }

.bkground{
	background: #4F4F4F
}
.bkground2{
	background: url("../img/inspireBackground.jpg");
}
#userBar{
	margin-top: none;
}

.listStyling{
	background-color: transparent;
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.signupStyle{
	margin: 20px 0px 20px 0px;
	color: #fff;
	font-size: 1.2em;
}

.selectionStyle{
	height:35px;
	width: 100%;
	margin: 5px 0px 20px 0px;
	border-radius: 0px;
	border: 0;
	background-color: #ffc900;
}

.userInfo{
	color: #fff;
 	text-align: center;
 	font-family: 'Droid Sans', sans-serif;
}

#dashboardStyling{
	margin-top: 60px;
}

.button-bar{
	margin-top: 40px;
}

.currentTask{
	margin-top: 20px;
}

.myForm{
	padding-top: 10px;
}

.points{
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	margin: 2px 2px 2px 2px;
 	font-family: 'Michroma', sans-serif;
}

.expirationIcon{
	margin:  0 auto;
	text-align: center;
}

.pointsStyling{
	text-align: center;
	font-size: 1.4em;
	color:#DBAF00;
	margin: 0px 2px 2px 2px;
	font-family: 'Droid Sans', sans-serif;

}


.button{
	color: #545454;
	font-weight: 700;
	font-size: 1.4em;
	font-family: 'Droid Sans', sans-serif;
}
.addTask{
	font-size: 1.4em;
	text-align: center;
	color:#FFF;
	padding: 3px 0px 3px 0px;
	font-family: 'Droid Sans', sans-serif;
}
.results{
	font-family: 'Droid Sans', sans-serif;
	color: #DBAF00;
	text-decoration: none;
	font-size: 1.3em;
}
.bannerStyle{
	margin-bottom: 5px;
}
.currentTaskTitle{
	background: url("../img/emptyBanner.svg") no-repeat;
	background-size: contain;
	height: 90px;
	text-align: center;
	width: 355px;
	font-family: 'Century Gothic', sans-serif;
	font-weight: bold;
	padding: 12px;
	color: #fff;
	font-size: 1.4em;
}

.currentTaskTitleExpired{
	background: url("../img/emptyBannerExpired.svg") no-repeat;
	background-size: contain;
	height: 90px;
	text-align: center;
	width: 355px;
	font-family: 'Century Gothic', sans-serif;
	font-weight: bold;
	padding: 12px;
	color: #fff;
	font-size: 1.4em;
}

.addTaskInput{
	margin-top: 50px;
	color: #fff;
}


.taskStyle{
	margin-top: 20px;
}

.profileImg{
	z-index: 100;
    border-radius: 50px;
    float: left;
    width: 50px;
    height: 50px;
}
 .navPadding{
 	padding-top: 15px;
 }

.hideText{
	display: none;
}

.hideImage{
	display: none;
}
.icon2{
	font-size: 1.6em;
}
.currentUser{
	width: 250px;
	float: right;
	margin-bottom: 50px;
	text-align: right;
	font-size: 1.2em;
}
.taskStyle{
	margin-top: 40px;
}

