/* Empty. Add your own CSS if you like */
p {
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	padding: 3px 0px 3px 0px;
	font-family: 'Droid Sans', sans-serif;
}
 h3{
 	color: #fff;
 	text-align: center;
 	font-family: 'Droid Sans', sans-serif;
 }
 .clockDisplay{
	font-size: 4em;
 	font-family: 'Michroma', sans-serif;
 	text-align: center;
 	text-shadow: 1px 1px  #fff;
 }

 .timeLables li{
 	display: inline;
 	margin-left: 70px;
 	font-size: 1.2em;
 	text-align: center;
 	color: #fff;
 }

.bkground{
	background: #565656
}
.bkground2{
	background: url("../img/inspireBackground.jpg");
}
#userBar{
	margin-top: none;
}

.userInfo{
	color: #fff;
 	text-align: center;
 	font-family: 'Droid Sans', sans-serif;
}

#dashboardStyling{
	margin-top: 60px;
}

.button-bar{
	margin-top: 40px;
}

.currentTask{
	margin-top: 20px;
}

.myForm{
	padding-top: 10px;
}

.button{
	color: #545454;
	font-weight: 700;
	font-size: 1.4em;
	font-family: 'Droid Sans', sans-serif;
}
.addTask{
	font-size: 1.4em;
	text-align: center;
	color:#FFF;
	padding: 3px 0px 3px 0px;
	font-family: 'Droid Sans', sans-serif;
}
.bannerStyle{
	margin-bottom: 5px;
}
.currentTaskTitle{
	background: url("../img/emptyBanner.svg") no-repeat;
	background-size: contain;
	height: 90px;
	text-align: center;
	width: 355px;
	font-family: 'Century Gothic', sans-serif;
	font-weight: bold;
	padding: 12px;
	color: #fff;
	font-size: 1.4em;
}

.addTaskInput{
	margin-top: 50px;
}

.taskStyle{
	margin-top: 20px;
}

.profileImg{
	z-index: 100;
    border-radius: 50px;
    float: left;
    width: 50px;
    height: 50px;
}

.hideText{
	display: none;
}

.hideImage{
	display: none;
}
.icon2{
	font-size: 2em;
}
.currentUser{
	width: 250px;
	float: right;
	text-align: right;
	font-size: 1.2em;
}
.taskStyle{
	margin-top: 40px;
}

