/* Empty. Add your own CSS if you like */
p {
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	padding: 3px 0px 3px 0px;
	font-family: 'Droid Sans', sans-serif;
}
 h3{
 	color: #fff;
 	text-align: center;
 	font-family: 'Droid Sans', sans-serif;
 }
.bkground{
	background: #565656
}
.bkground2{
	background: url("../img/inspireBackground.jpg");
}

.myForm{
	padding-top: 50px;
}

.button{
	color: #545454;
	font-weight: 700;
	font-size: 1.4em;
	font-family: 'Droid Sans', sans-serif;
}
.addTask{
	font-size: 1.4em;
	text-align: center;
	color:#FFF;
	padding: 3px 0px 3px 0px;
	font-family: 'Droid Sans', sans-serif;
}

.icon2{
	font-size: 2em;
}
.currentUser{
	text-align: left;
	font-size: 1.6em;
}
.taskStyle{
	margin-top: 40px;
}

