/* Empty. Add your own CSS if you like */

p {
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	padding: 3px 0px 3px 0px;
	font-family: 'Droid Sans', sans-serif;
}
 h3{
 	color: #fff;
 	text-align: center;
 	font-family: 'Droid Sans', sans-serif;
 }
 h4{
 	text-align: right;
 	width: 60px;
 	font-size: 1.2em;
 	float: right;

 }
.activeTask{
	color:#4cd320;
 }

 .expiredTask{
 	color: #FF6666;
 }

 .clockDisplay{
	font-size: 4em;
 	font-family: 'Michroma', sans-serif;
 	text-align: center;
 	color: #fff;
/* 	text-shadow: 1px 1px  #fff;*/
 }

 .timeLables li{
 	display: inline;
 	margin-left: 60px;
 	font-size: 1em;
 	text-align: center;
 	color: #fff;
 }
 .expired{
 	color: #FF6666;
 	font-size: 3em;
 	text-align: center;
	font-family: 'Michroma', sans-serif;
 }

.bkground{
	background: #565656
}
.bkground2{
	background: url("../img/inspireBackground.jpg");
}
#userBar{
	margin-top: none;
}

.userInfo{
	color: #fff;
 	text-align: center;
 	font-family: 'Droid Sans', sans-serif;
}

#dashboardStyling{
	margin-top: 60px;
}

.button-bar{
	margin-top: 40px;
}

.currentTask{
	margin-top: 20px;
}

.myForm{
	padding-top: 10px;
}

.button{
	color: #545454;
	font-weight: 700;
	font-size: 1.4em;
	font-family: 'Droid Sans', sans-serif;
}
.addTask{
	font-size: 1.4em;
	text-align: center;
	color:#FFF;
	padding: 3px 0px 3px 0px;
	font-family: 'Droid Sans', sans-serif;
}
.results{
	font-family: 'Droid Sans', sans-serif;
	color: #f29111;
	text-decoration: none;
	font-size: 1.3em;
}
.bannerStyle{
	margin-bottom: 5px;
}
.currentTaskTitle{
	background: url("../img/emptyBanner.svg") no-repeat;
	background-size: contain;
	height: 90px;
	text-align: center;
	width: 355px;
	font-family: 'Century Gothic', sans-serif;
	font-weight: bold;
	padding: 12px;
	color: #fff;
	font-size: 1.4em;
}

.addTaskInput{
	margin-top: 50px;
	color: #fff;
}


.taskStyle{
	margin-top: 20px;
}

.profileImg{
	z-index: 100;
    border-radius: 50px;
    float: left;
    width: 50px;
    height: 50px;
}


.hideText{
	display: none;
}

.hideImage{
	display: none;
}
.icon2{
	font-size: 2em;
}
.currentUser{
	width: 250px;
	float: right;
	margin-bottom: 50px;
	text-align: right;
	font-size: 1.2em;
}
.taskStyle{
	margin-top: 40px;
}

