<ion-view view-title="Dashboard">
  <ion-content class="bkground2 padding" >

	<img  ng-class="facebookUser ?  'profileImg' : 'hideImage'"  src="{{facebookUser.facebook.cachedUserProfile.picture.data.url }}"  alt="profilePic">
	<h3 class="currentUser">Hello, {{currentUser.name || facebookUser.facebook.displayName}}!</h3>
<!-- <div id="dashboardStyling"> -->
	<div class="button-bar">
		<a class="button button-clear icon2 ion-plus button-energized dashLinkStyle" href="#/tab/add"> Add Task</a>
		<a class="button button-clear icon2 ion-ios-list-outline button-energized dashLinkStyle" href="#/tab/list"> Task List</a>
	</div>
		</br>
			<div href="">
				<h3 class="currentTask">{{task[0].title}}</h3>
				<h2 class="clockDisplay">{{differenceDays}}:{{differenceHours}}:{{differenceMinutes}}</h2>
				<ul class="timeLables">
					<li>Days</li>
					<li>Hours</li>
					<li>Minutes</li>
				</ul>
			</div>
		</br>
	<div class="button-bar">
		<a class="button button-clear icon2 ion-ribbon-b button-energized dashLinkStyle" href="#/tab/badges" > Badges</a>
		<a class="button button-clear icon2 ion-android-person button-energized dashLinkStyle" href="#/profile"> Profile</a>
	</div>
<!-- </div> #dashboardStyling -->

  </ion-content>
</ion-view>
