<ion-view view-title="Dashboard">
  <ion-content class="bkground2 padding" >

	<img  ng-class="facebookUser ?  'profileImg' : 'hideImage'"  src="{{facebookUser.facebook.cachedUserProfile.picture.data.url }}"  alt="profilePic">
	<h3 class="currentUser">Hello, {{currentUser.name || facebookUser.facebook.displayName}}!</h3>

<!-- <div id="dashboardStyling"> -->
	<div class="button-bar">
		<a class="button button-clear icon2 ion-plus button-energized" href="#/tab/add"> Add Task</a>
		<a class="button button-clear icon2 ion-ios-list-outline button-energized" href="#/tab/list"> Task List</a>
	</div>
		</br>
			<h3 class="currentTask">Current Task: {{task.title}}</h3>
		</br>
	<div class="button-bar">
		<a class="button button-clear icon2 ion-ribbon-b button-energized" href="#/tab/badges" > Badges</a>
		<a class="button button-clear icon2 ion-android-person button-energized" href="#/profile"> Profile</a>
	</div>
<!-- </div> #dashboardStyling -->

  </ion-content>
</ion-view>
