<ion-view view-title="Edit Task">
	<ion-content class="bkground2 padding">

		<div class="myForm" > 
			<form name ="myForm"
			novalidate> 

			<img src="img/addBanner.svg" class="bannerStyle" alt="Edit Task Banner" style="width: 100%; height: auto;">
			<div class="taskStyle">
			
			<!-- Adding Tasks --> 
				<label class="item item-input">
					<i class="icon ion-plus-round placeholder-icon"></i>
					<input class="addTaskInput" type="text" ng-model="task.title" name="title" placeholder="{{task.title}}}" ng-required="true">
				</label>
				<!-- Below is an error validation message using ng-show -->
					<p class="errorValidation ion-android-warning" 
					ng-show="myForm.title.$invalid && myForm.title.$touched"> 
					Must enter a task.</p>
				</br>
				<div class="list">
			        <div class="item item-input item-select">
			            <div class="input-label">
			                Select Category
			            </div>
			            <select class="categoryStyle"  ng-model="task.category">
			                <option class="categoryStyle" value="health">Health</option>
			                <option class="categoryStyle" value="educational">Educational</option>
			                <option class="categoryStyle" value="chores">Chores</option>
			                <option class="categoryStyle" value="personal">Personal</option>
			                <option class="categoryStyle" value="hobbies">Hobbies</option>
			                <option class="categoryStyle" value="events">Events</option>
			            </select>
			        </div>
			    </div>
				</br>
				</div>
					<!-- Setting the Deadline with the Datepicker -->
					<ionic-datepicker idate="currentDate" disablepreviousdates="true" callback="datePickerCallback">
					    <button class="button button-block button-energized brandingSelector">{{ currentDate | date:'dd - MMMM - yyyy' }}</button>
					</ionic-datepicker>
				</br>
					<!-- Setting the Deadline with the Timepicker -->
					<ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">    
						<button class="button button-block button-energized brandingSelector"> Set a Time </button>
					</ionic-timepicker>
				</br>




					<p class="addTask">Complete it by {{currentDate | date:'EEEE, MMMM d, y'}} at {{task.time}}</p>
				<button class="button button-block  button-balanced brandingComplete" type="submit" ng-click="addTask(task, currentDate )">Start Task</button>  

			</form>
		</div>
	</ion-content>
</ion-view>
