<ion-view view-title="Login">
  <ion-content class="bkground padding" ng-controller="SignupCtrl">

<div class="myForm"> 
	<form name ="myForm"
	ng-submit="login()"
	novalidate>
<!-- 	<ion-spinner icon="android"></ion-spinner> -->
		<h3>Login</h3>
		</br>
		
	  	<!-- Enter Email --> 
		<label class="item item-input">
			<i class="icon ion-at placeholder-icon"></i>
			<input ng-model="user.email" type="text" placeholder="Enter Email Address">
		</label>

			<!-- Below is an error validation message using ng-show -->
	<!-- 		<p class="errorValidation" 
			ng-show="myForm.email.$invalid && myForm.email.$touched"> 
			Must enter a valid Email address</p> -->
		</br>
		<!-- Enter Password --> 
		<label class="item item-input">
			<i class="icon ion-locked placeholder-icon"></i>
			<input ng-model="user.password" type="password" placeholder="Enter Password">
		</label>
			<!-- Below is an error validation message using ng-show -->
	<!-- 		<p class="errorValidation" 
			ng-show="myForm.password.$invalid && myForm.password.$touched"> 
			Must enter a password.</p> -->
			<br/>
		<button class="button button-block  button-energized" >Login</button>
			</br>
		<button class="button button-block  button-positive" ng-click="facebookLogin()">Login via Facebook</button>

		<button class="button button-block button-clear button-light" ui-sref="signup">Sign Up</button>
	</form>
</div><!-- Login Form -->
  </ion-content>
</ion-view>
