<ion-view view-title="Sign Up">
  <ion-content class="bkground padding" ng-controller="SignupCtrl">

<div class="myForm"> 
	<form name ="myForm"
	ng-submit="register()"
	novalidate> 

		<h3>Sign Up</h3>
	  	<!-- Enter Name --> 
	  	</br>
		<label class="item item-input">
			<i class="icon ion-person placeholder-icon"></i>
			<input ng-model="user.name" type="text" placeholder="Enter Your Firstname" ng-required="true">
		</label>
			<!-- Below is an error validation message using ng-show -->
<!-- 			<p class="errorValidation" 
			ng-show="myForm.name.$invalid && myForm.name.$touched"> 
			Must enter a first name.</p> -->
			<br/>

	  	<!-- Enter Email --> 
		<label class="item item-input">
			<i class="icon ion-at placeholder-icon"></i>
			<input ng-model="user.email" type="text" placeholder="Enter Email Address" ng-required="true">
		</label>
			<!-- Below is an error validation message using ng-show -->
<!-- 			<p class="errorValidation" 
			ng-show="myForm.email.$invalid && myForm.email.$touched"> 
			Must enter a valid Email address</p> -->
		</br>
		<!-- Enter Password --> 
		<label class="item item-input">
			<i class="icon ion-locked placeholder-icon"></i>
			<input ng-model="user.password" type="password" placeholder="Enter Password" ng-required="true">
		</label>
			<!-- Below is an error validation message using ng-show -->
	<!-- 		<p class="errorValidation" 
			ng-show="myForm.password.$invalid && myForm.password.$touched"> 
			Must enter a password.</p> -->
				</br>
			<button class="button button-block  button-energized branding" >Sign Up</button>
				<p class="signupStyle">OR</p>
			<button class="button button-block button-energized branding" ui-sref="login">Login</button>
				</br>
			<button class="button button-block  button-positive" ng-click="facebookLogin()"> Login via Facebook</button>


	</form>
</div><!-- Login Form -->
  </ion-content>
</ion-view>
