<ion-view view-title="splashPage">
	<ion-content class="bkground" ng-controller="SignupCtrl">
		<img src="img/splashpageImg2.svg" alt="InspireSplashLogo" style="width: 100%; height: auto; margin-top: 20px;">

		<button class="button button-block button-energized branding button-light" ui-sref="login">Login</button>
			<br/>
		<button class="button button-block  button-positive" ng-click="facebookLogin()">Login via Facebook</button>	

		<button class="button button-block   button-clear dashLinkStyle" ui-sref="signup">Sign Up</button>	
	</ion-content>
</ion-view>
