<ion-view view-title="Task List">
	<ion-content class="bkground2 padding">

	<div class="myForm" > 
		<form name ="myForm"
		novalidate> 

		<img class="bannerStyle" src="img/taskListBanner.svg" alt="Add Task Banner" style="width: 100%; height: auto;">

		<div class="taskStyle">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" ng-model="search"  placeholder="Search">
			</label><br>

			<ion-list>
				<ion-item ng-repeat="task in tasks | filter:search:strict">
					<a href="#/users/{{currentUser.$id}}/tasks/{{task.$id}}">{{task.title}}:</a>
					<p>{{deadline}}</p>
					<ion-option-button class="button-energized" ng-click="completeTask(task)">
						<i class="icon ion-checkmark"></i>
					</ion-option-button>
				</ion-item>
			</ion-list>
			</form>
		</div> <!-- taskStyle -->
	</div>

	</ion-content>
</ion-view>
