<ion-view view-title="Task List">
	<ion-content class="bkground2 padding listStyling">

	<div class="myForm" > 
		<form name ="myForm"
		novalidate> 

		<img class="bannerStyle" src="img/taskListBanner.svg" alt="Add Task Banner" style="width: 100%; height: auto;">

		<div class="taskStyle">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" ng-model="search"  placeholder="Search">
			</label><br>

			<ion-list>
				<ion-item ng-repeat="task in tasks | filter:search:strict">
				<div class="hideDisplay" ng-show = "task.status == 'active'">
					<a href="#/users/{{currentUser.$id}}/tasks/{{task.$id}}" class="results">{{task.title}}</a>
					<h4 class="activeTask">Active</h4>
				</div>
				<div class="hideDisplay" ng-show = "task.status == 'Expired'">
					<a href="#/users/{{currentUser.$id}}/tasks/{{task.$id}}" class="results">{{task.title}}</a>
					<h4 class="expiredTask">Expired</h4>
				</div>
					<ion-option-button class="button-energized" ng-click="completeTask(task)">
						<i class="icon ion-checkmark"></i>
					</ion-option-button>
				</ion-item>
			</ion-list>
			</form>
		</div> <!-- taskStyle -->
	</div>

	</ion-content>
</ion-view>
