<ion-view view-title="View Task">
	<ion-content class="bkground2 padding">
		<div class="taskStyle">


			<div class="hideDisplay" ng-show = "task.status == 'active'">
				<h1 class="currentTaskTitle">{{task.title}}</h1>

<!-- 				<p class="dateDisplay">{{currentDate | date:'EEEE, MMMM d, y'}} at {{task.time}}</p>
 -->				<h3>Expires in:</h3>
				<h2 class="clockDisplay">{{differenceDays}}:{{differenceHours}}:{{differenceMinutes}}</h2>
				<ul class="timeLables">
					<li>Days</li>
					<li>Hours</li>
					<li>Minutes</li>
				</ul>
			</div> <!-- hideDisplay -->

			<div class="hideDisplay" ng-show = "task.status == 'Expired'">
				<h1 class="currentTaskTitleExpired">{{task.title}}</h1>
				<img class="expirationIcon" ng-src="img/expirationSkull1.svg"  style="width: 300px; height: 300px; display:block; margin: auto;">
				<button ng-hide= "task.status == 'active'" class="button button-block button-assertive brandingRemove" ng-click="deleteTask(task)">Remove Expired Task</button> 
			</br></br>
			</div><!-- hideDisplay -->
			</br></br>
			<button ng-hide= "task.status == 'Expired'" class="button button-block button-calm brandingEdit" ui-sref="#/editTask/{task.$id}">Edit Task </button> 
			</br>
			<button ng-hide= "task.status == 'Expired'" class="button button-block button-balanced brandingComplete" ng-click="completeTask(task)">Complete Task</button> 

		</div>
	</ion-content>

</ion-view>
