
<ion-view view-title="View Task">
	<ion-content class="bkground2 padding">
		<div class="taskStyle">

			<h1 class="currentTaskTitle">{{task.title}}</h1>

			
			<div class="hideDisplay" ng-show = "task.status == 'active'">
			<h3>Expires in:</h3>
			<h2 class="clockDisplay">{{differenceDays}}:{{differenceHours}}:{{differenceMinutes}}</h2>
			<ul class="timeLables">
				<li>Days</li>
				<li>Hours</li>
				<li>Minutes</li>
			</ul>
			</div> <!-- hideDisplay -->
			<div class="hideDsiplay" ng-show = "task.status == 'Expired'">
				<h2 class="expired">Expired</h2>	
			</div>
			</br></br>
			<button class="button button-block  button-balanced" type="submit" ng-click="completeTask(task)">Complete Task</button> 
		</div>

	</ion-content>

</ion-view>
